div.navbarContainer {
    display:flex;
    position: sticky;
    top: 0;
    z-index: 100000;
    background-color: #ededed;
    width: calc(100vw - 4px);
    border: 2px solid #141414;
    font-family: "Anonymous Pro";
    font-size: calc(0.5vw + 10px);

    a {
        transition: 500ms;
    }
    a:hover {
        scale: 1.2;
    }
}
div.navLeft{
    display: flex;
    flex-direction: row;
    padding-left: 2vw;
    text-align: left;
    padding-top:0.5vh;
    width: 30%;
   
}
div.navRight{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-top: 0.5vh;
    padding-right:2vw;
    gap: 1rem;
    text-align: right;
    width: 70%;
    
}
div.imgContainer{
    transform: translateY(-1px);
    img {
        width: 20px;
        height: 20px;
        margin-left:.5vw;
      }
      
}

@media (prefers-color-scheme: dark) {
    div.navbarContainer {
        background-color: #141414;
        border: 1px solid #ededeb;
        width: calc(100vw - 2px);
        color: #ededeb;
    }
    div.navLeft a, div.navRight a{
        color: #ededeb;
    }
    div.imgContainer img {
        border: 1px solid #ededeb;
        border-radius: 4px;
    }
}