.navbarContainer {
    display:flex;
    justify-content: center;
    gap: 3vw;
    background-color: white;
    width: 100vw;
    height: 4vh;
    border-style:solid;
}
.navLeft{
    text-align:left;
}
.navRight{
    text-align:right
}
