div.navbarContainer {
    display:flex;
    gap: 78vw;
    background-color: white;
    width: 99.5vw;
    height: 4vh;
    border-style:solid;
}
div.navLeft{
    padding-left: 2vw;
    justify-content: left;
    padding-top:0.5vh;
    
}
div.navRight{
    padding-top: 0.5vh;
    padding-right:1vw;
    gap: 5vw;
    text-align: right;
}
