.cardContainer {
    display: grid;
    height: 96vh;
    grid-template-areas:
        "resortName"
        "resortImg"
        "resortInfo";
}

.resortName {
    grid-area: resortName;
    height: 8vh;
    padding: 2vh;
    margin: 0;
    font-family: 'Anonymous Pro';
}

.resortImg {
    grid-area: resortImg;
    justify-self: center;
    padding-bottom: 1rem;

    img {
        height: 70vh;
        width: auto;
    }
}

.resortInfo {
    grid-area: resortInfo;
    height: 10vh;
    font-family: "Anonymous Pro";
}

.address {
    grid-area: address;
    width: 100%;
    padding-right: 2vw;
    display: flex;
    flex-direction: row-reverse;
    height: fit-content;
}

.snowfall {
    grid-area: snowfall;
    width: 20vw;
}

.visitPageButton {
    grid-area: visitPageButton;
    height:80%;
    width: 15vw;

    background-color: black;
    color:white;

    transition: transform 0.3s ease; 
}

.visitPageButton:hover {
    transform: scale(1.1);
}

@media (prefers-color-scheme: dark) {
 
    .cardContainer {
        background-color: #141414;
    }

    .visitPageButton {
        border: 2px solid #ededeb;
        background-color: black;
        color: #ededeb; 
    }

}