.cardContainer {
    display: grid;
    grid-template-areas:
        "resortName"
        "resortImg"
        "resortInfo";
}

.resortName {
    grid-area: resortName;
    font-family: 'Anonymous Pro';
}

.resortImg {

    grid-area: resortImg;
    padding-bottom: 1rem;

    img {
        width: 90vw;
        height: auto;
    }
}

.resortInfo {
    grid-area: resortInfo;

    padding-block: 1rem;
    font-family: "Anonymous Pro";

    grid-template-areas:
        "visitPageButton" "snowfall" "address";
}

.address {
    grid-area: address;
    width: 100%;
    padding-right: 2vw;
    display: flex;
    flex-direction: row-reverse;
    height: fit-content;
}

.snowfall {
    grid-area: snowfall;
    width: 15vw;
}

.visitPageButton {
    grid-area: visitPageButton;
    height:80%;
    width: 15vw;

    background-color: black;
    color:white;

    transition: transform 0.3s ease; 
}

.visitPageButton:hover {
    transform: scale(1.1);
}

@media (prefers-color-scheme: dark) {
 
    .cardContainer {
        background-color: #141414;
    }

    .visitPageButton {
        border: 2px solid #ededeb;
        background-color: black;
        color: #ededeb; 
    }

}