.indvContainer {
    display: grid;
    width: 100%;
    grid-template-areas:
        "indvBackground"
        "indvPageContainer";
}

.indvBackground {
    position: relative;
    grid-area: indvBackground;

    height: 35vw;
    width: 100%;
    
    background-image: url('src/assets/HiResMountain.jpg');
    background-size: 100%;
    background-repeat: no-repeat;

    justify-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "indvLogo"
        "indvTitle";

    padding-top: 5vh;
    margin-bottom: 10vh;

}

.indvBackground::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 33%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    pointer-events: none; 
}

.indvLogo {
    grid-area: indvLogo;
    width: auto;
    height: 18vw;

}

.indvTitle {
    grid-area: indvTitle;

    font-size: 4vw;
    font-family: "Anonymous Pro", monospace;
    color: black;

    height: 4vw;
}

.indvPageContainer {
    grid-area: indvPageContainer;
    margin-left: 2vh;
    margin-right: 2vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-size: 1.3em;
    font-family: "Anonymous Pro"," monospace";
    color: black;

    display: grid;
    grid-template-areas:
        "pageInfo"
        "leaflet"
        "skiData";
}

.pageInfo {
    grid-area: pageInfo;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 2vh;
    h3 {
        margin: 2vh;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: auto;
}

.titleContainer {
    margin: 1vh;
    margin-bottom: 2vh;

    display: flex;
    align-items: center;
    font-size: 1em;
    font-family: "Anonymous Pro", monospace;
}

.titleContainer h1 {
    margin-right: 10px; 
}

.favoriteButton {
    cursor: pointer;
    transition: transform 0.3s ease; 

    width: 8vh;
    
    padding-top: 0%;
    padding-bottom: 1%;
    padding-left: 2.5%;
    padding-right: 3%;

    font-size: 2em;

    border-color: black;
    border-radius: 10px;
    border-width: 2px;
}

.favoriteButton:hover {
    transform: scale(1.1);
}

.pageInfo img {
    width: 80%;
    height: auto;
}

.leaflet {
    height: auto; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    grid-area: leaflet;

    .mapbuttons {
        margin-top: 2vh;
        display: flex;
        gap: 2vw;

        button {
            width: 20vw;
            min-width: 30vw;
            padding: 1.5vh;
            border-color: #ededeb;
            cursor: pointer;
            transition: transform 0.3s ease; 
        }

        button:hover {
            transform: scale(1.1); 
        }
    }
}

.skiData {
    grid-area: skiData;

    margin-top: 5vh;
    height: auto;
    width: 100%;

    grid-template-areas:
        "skiIntro"
        "skiConditions";
}

.skiIntro {
    grid-area: skiIntro;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    height: 10vh;
    width: auto;
}

.skiConditions {
    grid-area: skiConditions;

    height: auto;
    width: 100%;

    display: grid;
    grid-template-areas:
        "temperature windSpeed"
        "snowfallRecent precipitationProb"
        "snowDepth visibility";
}

.temperature {
    justify-self:center;
    grid-area: temperature;
}

.windSpeed {
    justify-self:center;
    grid-area: windSpeed;
}

.snowfallRecent {
    justify-self:center;
    grid-area: snowfallRecent;
}
.precipitationProb {
    justify-self:center;
    grid-area: precipitationProb;
}

.snowDepth {
    justify-self:center;
    grid-area: snowDepth;
}

.visibility {
    justify-self:center;
    grid-area: visibility;
}

.weatherAdvisories {
    justify-self:center;
    grid-area: weatherAdvisories;
}

@media (prefers-color-scheme: dark) {
 
    .indvContainer {
        background-color: #141414;
        color: #ededeb;
        a {
            color: #ededeb;
        }
    }

    .indvBackground {
        background-image: url('src/assets/dark-mode-background.jpg');
        background-position: center;
    }

    .indvTitle {
        color: #ededeb;
    }

    .indvBackground::after {
        background: linear-gradient(to bottom, rgba(20, 20, 20, 0) 0%, rgba(20, 20, 20, 1) 100%);
    }

    .indvPageContainer {
        background-color: #141414;
        color: #ededeb;
    }

    .favoriteButton {
        color: #ededeb;
    }

}

@media (max-width: 612px) {
    .titleContainer {
        font-size: 2.8vw; 
    }

    .favoriteButton {
        width: 6vh;
    }
}