.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
}
.feedback-container 
{
    min-height: 25vh;
    min-width: 80vh;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: "Anonymous Pro", monospace;
    background-color: #d9d9d9;


}
.outline-box 
{
    border: 2px solid #007BFF;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    background-color: #d9d9d930;

}
label
{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    margin-left: 100px;

}
textarea 
{
    width: 200%;
    padding: 10px;
    border: 4px solid #000000;
    border-radius: 5px;
    resize: none;
    margin-bottom: 20px;
    margin-left: 100px;
    
}
.backImg
{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url('../assets/skiMountains.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.logo
{
    height: 128px;
    width: 128px;
    position: absolute;
    top: 25px;
    
}
.title 
{
    font-size: 4vw;
    font-family: "Anonymous Pro", monospace;
    text-shadow: 0 0 15px black;
}