.landingContainer {
    display: grid;
    grid-template-areas:
        "landingBackground"
        "textContainer";
}

.landingBackground {
    
    grid-area: landingBackground;

    height: 26vw;
    width: 100%;
    
    background-image: url('src/assets/HiResMountain.jpg');
    background-size: 100%;
    background-repeat: no-repeat;

    grid-template-columns:
        "landingLogo"
        "landingTitle";

    padding-top: 5vh;
    
}

.landingLogo {
    grid-area: landingLogo;
    padding-left: 41vw;
    width: auto;
    height: 18vw;

}

.landingTitle {
    grid-area: landingTitle;
    padding-left: 42vw;

    font-size: 4vw;
    font-family: "Anonymous Pro", monospace;
    text-shadow: 0 0 15px black;

    height: 4vw;

}

.landingContainer .textContainer {
    grid-area: textContainer;
    margin-left: 2vh;
    width: 97%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 1.5vw;
    
    font-family: "Anonymous Pro"," monospace";
    color: black;
    transition: margin-top 0.5s ease;
}
  