.pageContainer {
    display: grid;
    grid-template-areas:
        "pageBackground"
        "contentContainer";
}

.pageBackground {
    
    grid-area: pageBackground;

    height: 26vw;
    width: 100%;
    
    background-image: url('src/assets/HiResMountain.jpg');
    background-size: 100%;
    background-repeat: no-repeat;

    grid-template-columns:
        "logo"
        "title";

    padding-top: 5vh;
    
}

.logo {
    grid-area: logo;
    padding-left: 41vw;
    width: auto;
    height: 18vw;

}

.title {
    grid-area: title;
    padding-left: 42vw;

    font-size: 4vw;
    font-family: "Anonymous Pro", monospace;
    text-shadow: 0 0 15px black;

    height: 4vw;

}

.pageContainer .contentContainer {
    grid-area: contentContainer;
    margin-left: 2vh;
    margin-right: 2vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 1.5vw;
    
    font-family: "Anonymous Pro"," monospace";
    color: black;
    transition: margin-top 0.5s ease;
}
  