.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
}

.backgroundImg {
    height: 50vh;
    width: 100%;
    background-image: url('src/assets/HiResMountain.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resortsCardContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.logo {
    height: 256px;
    width: 256px;
}

.title {
    font-size: 4vw;
    font-family: "Anonymous Pro", monospace;
    text-shadow: 0 0 15px black;
}