.container {
    display: grid;
    grid-template-areas:
        "backgroundImg"
        "resortsCardContainer";
}

.backgroundImg {
    
    grid-area: backgroundImg;

    height: 26vw;
    width: 100%;

    background-image: url('src/assets/HiResMountain.jpg');
    background-size: 100%;
    background-repeat: no-repeat;

    grid-template-columns:
        "logo"
        "title";

    padding-top: 5vh;
}

.logo {
    grid-area: logo;
    padding-left: 41vw;
    width: auto;
    height: 18vw;

}

.title {
    grid-area: title;
    padding-left: 42vw;

    font-size: 4vw;
    font-family: "Anonymous Pro", monospace;
    text-shadow: 0 0 15px black;

    height: 4vw;

}

.resortsCardContainer {
    grid-area: resortsCardContainer;

    width: 96%;
    height: 20vw;
    
    color: black;

    background-color: green;
}

.resortInfo {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}
