.resortContainer {
    display: grid;
    width: 100%;
    grid-template-areas:
        "resortBackground"
        "resortText"
        "searchbar"
        "resortContentContainer";
}

.resortBackground {
    position: relative;
    grid-area: resortBackground;

    height: 35vw;
    width: 100%;
    
    background-image: url('src/assets/resort-page-background.png');
    background-size: 100%;
    background-repeat: no-repeat;

    justify-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "resortLogo"
        "resortTitle";

    padding-top: 5vh;
    margin-bottom: 10vh;
}

.resortBackground::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 33%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    pointer-events: none; 
}

.resortLogo {
    grid-area: resortLogo;
    width: auto;
    height: 18vw;
}

.resortTitle {
    grid-area: resortTitle;
    justify-self: center;

    font-size: 4vw;
    font-family: "Anonymous Pro", monospace;
    color: #141414;

    height: 4vw;
}

.resortText {
    grid-area: resortText;
    margin-top: 2vw;
    justify-self: center;

    transform: translateY(-2vh);

    font-size: 5vw;
    font-family: "Anonymous Pro", monospace;
    color: #141414;

    height: 4vw;
    margin-bottom: 2vw;
}

.searchbar {
    grid-area: searchbar;
    margin-top: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 2vw;
    padding-left: 5vw;

    justify-content: center;
    align-items: center;

    font-size: 1.5vw;
    
    font-family: "Anonymous Pro"," monospace";
    color: #141414;
    transition: margin-top 0.5s ease;
}

.textBar {
    width: 75%;
    padding: 10px; 
    font-size: 1em; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-right: 10px;
}

.searchButton {
    padding: 1vw 2vw; 
    font-size: 1.5vw;
    width: auto;
    height: auto;

    border: 2px solid #141414;
    
    border-radius: 5px;
    background-color: #141414;
    color: #ededed; 
    cursor: pointer;
    transition: transform 0.3s ease; 
}

.searchButton:hover {
    transform: scale(1.1); 
}

.resortContentContainer {
    grid-area: resortContentContainer;
    margin-left: 2vh;
    margin-right: 2vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 1.5vw;
    
    font-family: "Anonymous Pro"," monospace";
    color: #141414;
    transition: margin-top 0.5s ease;
}

.resortInfo {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.moreResorts {
    padding: 10px 20px;
    margin-top: 4vw;
    margin-bottom: 2vw;

    font-size: 16px;
    background: #141414;
    color: #ededed;
    cursor: pointer;
    transition: transform 0.3s ease; 
}

.moreResorts:hover {
    transform: scale(1.1); 
}

@media (prefers-color-scheme: dark) {
 
    .resortContainer {
        background-color: #141414;
    }

    .resortText {
        color: #ededed;
    }

    .resortBackground {
        background-image: url('src/assets/resortBackgroundImgDark.jpg');
        background-position: center;
    }

    .resortTitle {
        color: #ededeb;
    }

    .resortBackground::after {
        background: linear-gradient(to bottom, rgba(20, 20, 20, 0) 0%, rgba(20, 20, 20, 1) 100%);
    }

    .searchButton {
        border: 2px solid #ededeb;
        background-color: #141414;
        color: #ededeb; 
    }

    .resortContentContainer {
        color: #ededeb;
    }

    .moreResorts {
        margin-top: 2vh;
        border: 1px solid #ededeb;
    }


}